#book-add-btn {
  background-color: #f2939b;
  width: 80px;
  height: 80px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
  transition: 0.1s;
}

#book-add-btn:hover {
  background-color: #e66f79;
}
